.ed_parent {
    display: flex;
    align-items: center;
  }
  .edufaith-alert {
    width: 90%;
    background-color: black; /*a235g*/
    color: white; /*a235g*/
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 1px solid #007bffa5;
    border-left: 4px solid #007BFF;
    /* position: relative; */
    position: fixed;
    top: 1px;
    z-index: 9999;
    /* animation: fadeIn 2s ease-in-out; */
    animation: dropDown 0.3s ease-in-out;
}
@media only screen and (min-width: 950px) and (max-width: 3000px) {
  .edufaith-alert {
    width: 30%;
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }dropUp
} */

@keyframes dropDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-100%);
    opacity: 1;
  }
}
.alert-icon {
    color: #007bff;
    font-size: 24px;
    margin-right: 10px;
}

.alert-message {
    flex-grow: 1;
    font-size: 16px;
}

.close-alert {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #888; /*a235g*/
    cursor: pointer;
    transition: color 0.3s;
}

.close-alert:hover {
    color: #333;
}