#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    animation: fadeIn 0.2s ease;
}
@media only screen and (min-width: 950px) and (max-width: 3000px) {
    #overlay {
        display: none;
    }
}